body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background: hsl(0, 0%, 39%);
  color: #fff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: 3px solid #0779e4;
}

header h1 {
  margin: 0;
  text-align: center;
}

.profile-image {
  display: block;
  margin: 20px auto;
  width: 150px;
  border-radius: 50%;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  color: #333;
}

ul {
  list-style: square inside;
}

footer {
  background: hsl(0, 0%, 39%);
  border-top: 3px solid #0779e4;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

a {
  color: #0779e4;
}
